body{
    margin: 0;
}

header{
    height: 70px;
    display: flex;
    background: rgb(63, 60, 60);
    justify-content: space-between;
    align-items: center;
}
.img__logo{
    padding-left: 20px;
}
footer{
    margin-top: 10px;
}
#img{
    width: 50px;
    height: 50px;

}
#avarta{
    background-image: url("#");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    margin-right: 10px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    background: red;
}
header > div > a{
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.Content{
    display: flex;
}
nav{
    border: 2px double;
    width: 215px;
    height: 600px;
}
nav > h3{
    text-align: center;
}
.nav__box{
    background: rgb(60, 57, 57);
    height: 25px;
    padding: 15px;
    margin: auto;
    padding-left: 10px;
    width: 189px;
    border: 1px double;
}
.fa-solid{
    float:right;
}
footer > p {
    text-align: center;
    margin: 0;
}
p > a{
    color: rgb(89, 89, 240);
}
section{
    border-top: 2px double;
    margin-left: 10px;
    width: 1292px;
    height: 650px;
    background: rgb(245, 243, 243);
}
h2{
    text-align: center;
    margin: 16px 0;
}
th{
    width: 252px;
}
.search{
    width: 300px;
    height: 30px;
    margin-left: 950px;
    margin-bottom: 10px;
}
#search__search{
    width: 250px;
    height: 20px;
}
.fa-spin-reverse{
    float: none;
}
.fa-magnifying-glass:before, .fa-search:before {
    content: "\f002";
    font-size: 18px;
    color: white;
}
.search__buttom{
    padding-top: 5px;
    display: flex;
    width: 40px;
    height: 24px;
    float: right;
    align-items: center;
    border: 1px double;
    justify-content: space-around;
    background: rgb(80, 80, 77);
}
td{
    text-align: center;
}
td > a{
    color: #5e5eee;
    text-decoration: double;
}
.hover:hover .nav__menu{
    display: block;
}
.nav__menu{
    display: none;
    top: -36px;
    position: relative;
    left: 206px;
}